<h1>More Info About This Item:</h1>
<br>
<br>

<p><strong>Item:</strong> <br>
	<em><%= @food['item'] %></p></em>
<p><strong>Description:</strong><br>
	<em><%= @food['description'] %></p></em>

<%= link_to "Back To Grocery List", foods_path %>

